#detail {
    width: 100%;
    height: 100%;
}

.detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.detail .detail_top {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.detail .detail_top .detail_img {
    width: 400px;
    margin-right: 50px;
    object-fit: cover;
}

.detail .detail_top .detail_info_items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
    color: #fff;
}

.detail .detail_top .detail_info_items .detail_title {
    font-size: 4rem;
    margin-bottom: 20px;
}

.detail .detail_top .detail_info_items .detail_year {
    margin-left: 10px;
    font-size: 2rem;
}

.detail .detail_top .detail_info_items .detail_genres_list {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.detail .detail_top .detail_info_items .detail_genres_list .detail_genre {
    margin-right: 20px;
}

.detail .detail_top .detail_info_items .detail_rating {
    margin-bottom: 50px;
}

.detail .detail_top .detail_info_items .detail_desc {
    font-size: 3rem;
}