#header {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .logo .move_to_home {
    color: #fc2d5a;
    font-size: 3rem;
    font-weight: 600;
}

.header .nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .nav .nav_list {
    height: 100%;
    line-height: 100%;
    display: flex;
    flex-direction: row;
}

.header .nav .nav_list > li {
    height: 100%;
    align-self: center;
    padding-right: 20px;
}

.header .nav .nav_list > li > .nav_links {
    width: 100%;
    height: 100%;
    line-height: 60px;
    display: block;
    position: relative;
    transition: all .2s ease-in;
    color: #fff;
    font-size: 2rem;
    font-weight: lighter;
}

.header .nav .nav_list > li:hover > .nav_links, .header .nav .search_btn:hover {
    color: #fc2d5a;
}

.header .nav .nav_list > li:hover > .nav_links:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fc2d5a;
}

.header .nav .search_btn {
    height: 100%;
    position: relative;
    padding: 0 15px;
    transition: all .2s ease-in;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.header .nav .search_btn:hover:after, .header .nav .search_btn:active:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fc2d5a;
}


