/* loading state */
#loading {
    width: 100%;
    height: 100%;
}

.loading {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loading .loading_state {
    color: #fff;
    text-align: center;
}

/* movie list */
#movie {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.movie .search_box {
    width: 100%;
    height: 100px;
    display: block;
    display: none;
}

.movie .search_box.active {
    display: block;
}

.movie .search_box .search_form {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.movie .search_box .search_form .search_input {
    width: 90%;
    height: 60px;
    padding-left: 20px;
    border: 0 none;
    border-bottom: 2px solid #fc2d5a;
    font-size: 2rem;
    color: #fff;
    background-color: transparent;
}

.movie .search_box .search_form .search_input::placeholder {
    color: #fff;
}

.movie .search_box .search_form .search_input:focus {
    outline: 0 none;
}

.movie .search_box .search_form .cancle_btn {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
}

.movie .movie_list_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.movie .movie_list_wrap .movie_list_box {
    width: 300px;
    height: 530px;
    margin: 20px 0;
}

.movie .movie_list_wrap .movie_list_box .move_to_detail {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
}

.movie .movie_list_wrap .movie_list_box .move_to_detail .movie_list_item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.movie .movie_list_wrap .movie_list_box .move_to_detail .movie_list_item .movie_poster {
    width: 100%;
    height: 420px;
    margin-bottom: 10px;
    object-fit: cover;
}

.movie .movie_list_wrap .movie_list_box .move_to_detail .movie_list_item .movie_title {
    margin-bottom: 20px;
    padding: 0 5px;
    color: #fff;
    font-size: 2rem;
}

.movie .movie_list_wrap .movie_list_box .move_to_detail .movie_list_item .movie_info_items {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    color: #fff;
}

.movie .more_btn {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.8rem;
    cursor: pointer;
}