* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrap {
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.inner {
    padding: 0 20px;
}

/* 폰트 초기화 */
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
    background-color: #000;
    height: 100%;
}

/* a 링크 초기화 */
a {
    color: #222;
    text-decoration: none;
}

/* 폰트 스타일 초기화 */
em, address {
    font-style: normal;
}

/* 블릿기호 초기화 */
ul, li, ol {
    list-style: none;
}

/* 제목 태그 초기화 */
h1, h2, h3, h4, h5, h6 {
    font-size: 1.6rem;
    font-weight: normal;
}

/* 버튼 초기화 */
button {
    border: 0;
}

/*반응형 이미지 */
img, video {
    width: 100%;
}

/* IR 효과 */
.ir_so {
    overflow: hidden;
    position: absolute;
    width: 0; 
    height: 0; 
    line-height: 0; 
    text-indent: -9999px;
}
.ir_pm {
    display: block; 
    overflow: hidden; 
    font-size: 0; 
    line-height: 0; 
    text-indent: -9999px;
} 
.ir_wa {
    display: block; 
    overflow: hidden; 
    position: relative; 
    z-index: -1; 
    width: 100%; 
    height: 100%;
} 